.officeOfAcademic {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    white-space: nowrap;
  }
  .screenShot20240202At111 {
    height: 87px;
    width: 297px;
    position: relative;
    object-fit: cover;
  }
  .academicRecordsBlock {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 var(--padding-xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .frameChild {
    height: 134px;
    width: 1440px;
    position: relative;
    background-color: var(--color-darkred);
    display: none;
    max-width: 100%;
  }
  .finalExamFinder {
    margin: 0;
    height: 78px;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .bk011Icon,
  .rectangleParent {
    position: absolute;
    left: 0;
    width: 1440px;
  }
  .rectangleParent {
    top: 155px;
    background-color: var(--color-darkred);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-20xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .bk011Icon {
    top: 0;
    height: 157px;
    object-fit: cover;
    z-index: 1;
  }
  .finalExamFinderText {
    align-self: stretch;
    height: 289px;
    position: relative;
    max-width: 100%;
  }
  .frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-41xl);
    color: var(--color-white);
    font-family: var(--font-mada);
  }
  @media screen and (max-width: 750px) {
    .academicRecordsBlock {
      display: none;
    }
    .finalExamFinder {
      font-size: var(--font-size-29xl);
    }
  }
  @media screen and (max-width: 450px) {
    .finalExamFinder {
      font-size: var(--font-size-17xl);
    }
  }
  